@import './nullstyles.scss';

@keyframes bounce {

    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

//Шаблоны
.button__template {
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    width: 125px;
    height: 30px;
    font-size: 14px;
    font-family: "Poppins";
    color: rgb(11, 75, 236);
    font-weight: bold;
    line-height: 2;
}

.title__template {
    margin: 0;
    font-size: 24px;
    font-family: "Poppins";
    color: rgb(128, 128, 128);
    text-transform: uppercase;
}

.description__template {
    margin: 0;
    margin-top: 20px;
    font-size: 30px;
    font-family: "Poppins";
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.page {
    max-width: 1920px;
    font-family: 'Poppins', sans-serif;

    .header {
        background-image: linear-gradient(108deg, rgb(7, 29, 104) 0%, rgb(11, 75, 236) 100%);
        background: linear-gradient(90deg, rgb(7, 29, 104) 0%, rgb(11, 75, 236) 10%);


        justify-content: space-between;
        min-height: 121px;
        display: flex;
        align-items: center;
        padding: 0 19.58%;

        .header__logo {
            display: flex;
            align-items: flex-end;


            .logo__image {
                margin-right: 15px;
            }


            .logo__text {
                .logo__title {
                    font-size: 18px;
                    font-family: "Poppins";
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    text-align: left;
                    text-shadow: 0px 3px 3px rgba(30, 28, 28, 0.75);
                    margin: 0 auto;
                }

                .logo__description {
                    font-size: 12px;
                    font-family: "Poppins";
                    color: rgb(255, 255, 255);
                    margin: 0 auto;

                }
            }
        }

        .navigation__list {
            display: flex;
            color: rgb(255, 255, 255);


            .navigation__link {
                text-decoration: none;
                margin-left: 44px;
                color: rgb(255, 255, 255);
                font-size: 14px;
                font-family: "Poppins";

                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.857;
                text-align: right;

            }

        }

        .header__button {
            @extend .button__template;
            margin-left: 38px;



        }
    }

    .main-card {
        margin: 0 auto;
        padding: 191px 19.58% 0;
        background-image: url(../images/main-card.jpg);
        // background-image: linear-gradient(108deg, rgb(7, 29, 104) 0%, rgb(11, 75, 236) 100%);

        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;

        h2 {
            font-size: 40px;
            font-family: "Poppins";
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 0.65;
            text-align: center;
        }

        p {
            margin-top: 34px;
            font-size: 14px;
            font-family: "Nunito";
            color: rgb(255, 255, 255);
            line-height: 2;
            text-align: center;
            max-width: 970px;

        }

        .main-card__button {
            text-transform: uppercase;
            @extend .button__template;
            border-radius: 22px;
            width: 180px;
            height: 45px;
            margin-top: 55px;
        }

        img {
            margin-top: 92px;
            max-height: 500px;
        }

    }

    .get-card {
        padding: 160px 19.58% 200px;
        background-color: #b0b4ba;

        h2 {
            @extend .title__template;
            text-align: center;
        }

        h3 {
            @extend .description__template;
            text-align: center;
        }

        .card-container {
            margin-top: 100px;
            display: flex;
            align-items: center;
            justify-content: center;

            .card-item {
                background-color: #fff;
                display: flex;
                flex-direction: column;
                padding: 49px 35px;
                width: 370px;
                max-height: 349px;

                &:hover {
                    animation: bounce 1s;
                }

                img {
                    margin: auto;
                    max-height: 100px;
                }

                h2 {
                    margin-top: 26px;
                    font-size: 20px;
                    font-family: "Poppins";
                    color: rgb(0, 0, 0);
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;
                }

                p {
                    margin-top: 35px;
                    font-size: 14px;
                    font-family: "Raleway";
                    color: rgb(128, 128, 128);
                    text-align: center;
                    max-width: 291px;
                    line-height: 2;

                }

            }

            .card-item_active {
                background-image: linear-gradient(108deg, rgb(7, 29, 104) 0%, rgb(11, 75, 236) 100%);
                max-height: 430px;
                padding: 91px 30px;
                margin: 0 30px;

                h2 {
                    color: #fff
                }

                p {
                    color: #fff
                }
            }

        }
    }

    .service {
        padding: 160px 19.58%;

        h2 {
            @extend .title__template;
            text-align: left;
        }

        h3 {
            @extend .description__template;
            text-align: left;
        }

        .service__container {
            margin-top: 60px;

            .service-item {
                border-style: solid;
                border-width: 1px;
                border-color: rgb(4, 4, 4);
                background-color: rgb(255, 255, 255);
                width: 270px;
                height: 354px;
                margin-right: 30px;


                &:nth-child(4) {
                    margin-right: 0;
                }



                p {
                    font-size: 20px;
                    font-family: "Poppins";
                    color: rgb(51, 51, 51);
                    line-height: 2.1;
                    text-align: center;

                }

            }

        }
    }

    .statistic {

        background: linear-gradient(108deg, rgba(7, 29, 104, 0.9) 0%, rgba(11, 75, 236, 0.9) 100%), url(../images/coins.png);
        background-size: cover;
        padding: 180px 19.58%;
        display: flex;
        justify-content: space-between;

        .statistic__item {
            max-width: 170px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                margin: 0 auto;
            }

            h2 {
                margin-top: 56px;
                font-size: 52px;
                font-family: "Poppins";
                color: rgb(255, 255, 255);
                font-weight: bold;
                text-align: center;

            }

            h3 {
                margin-top: 10px;
                font-size: 24px;
                font-family: "Poppins";
                color: rgb(255, 255, 255);
                font-weight: lighter;
                text-align: center;

            }

        }
    }
}