@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@-webkit-keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.button__template, .page .header .header__button, .page .main-card .main-card__button {
  border-radius: 12px;
  background-color: white;
  width: 125px;
  height: 30px;
  font-size: 14px;
  font-family: "Poppins";
  color: #0b4bec;
  font-weight: bold;
  line-height: 2;
}

.title__template, .page .get-card h2, .page .service h2 {
  margin: 0;
  font-size: 24px;
  font-family: "Poppins";
  color: gray;
  text-transform: uppercase;
}

.description__template, .page .get-card h3, .page .service h3 {
  margin: 0;
  margin-top: 20px;
  font-size: 30px;
  font-family: "Poppins";
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.page {
  max-width: 1920px;
  font-family: 'Poppins', sans-serif;
}

.page .header {
  background-image: linear-gradient(108deg, #071d68 0%, #0b4bec 100%);
  background: -webkit-gradient(linear, left top, right top, from(#071d68), color-stop(10%, #0b4bec));
  background: linear-gradient(90deg, #071d68 0%, #0b4bec 10%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 19.58%;
}

.page .header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.page .header .header__logo .logo__image {
  margin-right: 15px;
}

.page .header .header__logo .logo__text .logo__title {
  font-size: 18px;
  font-family: "Poppins";
  color: white;
  text-transform: uppercase;
  text-align: left;
  text-shadow: 0px 3px 3px rgba(30, 28, 28, 0.75);
  margin: 0 auto;
}

.page .header .header__logo .logo__text .logo__description {
  font-size: 12px;
  font-family: "Poppins";
  color: white;
  margin: 0 auto;
}

.page .header .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.page .header .navigation__list .navigation__link {
  text-decoration: none;
  margin-left: 44px;
  color: white;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.857;
  text-align: right;
}

.page .header .header__button {
  margin-left: 38px;
}

.page .main-card {
  margin: 0 auto;
  padding: 191px 19.58% 0;
  background-image: url(../images/main-card.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.page .main-card h2 {
  font-size: 40px;
  font-family: "Poppins";
  color: white;
  font-weight: bold;
  line-height: 0.65;
  text-align: center;
}

.page .main-card p {
  margin-top: 34px;
  font-size: 14px;
  font-family: "Nunito";
  color: white;
  line-height: 2;
  text-align: center;
  max-width: 970px;
}

.page .main-card .main-card__button {
  text-transform: uppercase;
  border-radius: 22px;
  width: 180px;
  height: 45px;
  margin-top: 55px;
}

.page .main-card img {
  margin-top: 92px;
  max-height: 500px;
}

.page .get-card {
  padding: 160px 19.58% 200px;
  background-color: #b0b4ba;
}

.page .get-card h2 {
  text-align: center;
}

.page .get-card h3 {
  text-align: center;
}

.page .get-card .card-container {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page .get-card .card-container .card-item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 49px 35px;
  width: 370px;
  max-height: 349px;
}

.page .get-card .card-container .card-item:hover {
  -webkit-animation: bounce 1s;
          animation: bounce 1s;
}

.page .get-card .card-container .card-item img {
  margin: auto;
  max-height: 100px;
}

.page .get-card .card-container .card-item h2 {
  margin-top: 26px;
  font-size: 20px;
  font-family: "Poppins";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.page .get-card .card-container .card-item p {
  margin-top: 35px;
  font-size: 14px;
  font-family: "Raleway";
  color: gray;
  text-align: center;
  max-width: 291px;
  line-height: 2;
}

.page .get-card .card-container .card-item_active {
  background-image: linear-gradient(108deg, #071d68 0%, #0b4bec 100%);
  max-height: 430px;
  padding: 91px 30px;
  margin: 0 30px;
}

.page .get-card .card-container .card-item_active h2 {
  color: #fff;
}

.page .get-card .card-container .card-item_active p {
  color: #fff;
}

.page .service {
  padding: 160px 19.58%;
}

.page .service h2 {
  text-align: left;
}

.page .service h3 {
  text-align: left;
}

.page .service .service__container {
  margin-top: 60px;
}

.page .service .service__container .service-item {
  border-style: solid;
  border-width: 1px;
  border-color: #040404;
  background-color: white;
  width: 270px;
  height: 354px;
  margin-right: 30px;
}

.page .service .service__container .service-item:nth-child(4) {
  margin-right: 0;
}

.page .service .service__container .service-item p {
  font-size: 20px;
  font-family: "Poppins";
  color: #333333;
  line-height: 2.1;
  text-align: center;
}

.page .statistic {
  background: linear-gradient(108deg, rgba(7, 29, 104, 0.9) 0%, rgba(11, 75, 236, 0.9) 100%), url(../images/coins.png);
  background-size: cover;
  padding: 180px 19.58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .statistic .statistic__item {
  max-width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page .statistic .statistic__item img {
  margin: 0 auto;
}

.page .statistic .statistic__item h2 {
  margin-top: 56px;
  font-size: 52px;
  font-family: "Poppins";
  color: white;
  font-weight: bold;
  text-align: center;
}

.page .statistic .statistic__item h3 {
  margin-top: 10px;
  font-size: 24px;
  font-family: "Poppins";
  color: white;
  font-weight: lighter;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */