@import './nullstyles.scss';

.page {
    max-width: 1920px;
    font-family: 'Poppins', sans-serif;

    .header {
        background-image: linear-gradient(108deg, rgb(7, 29, 104) 0%, rgb(11, 75, 236) 100%);

        .header__menu {
            justify-content: space-between;
            min-height: 121px;
            display: flex;
            align-items: center;
            padding: 0 15%;
            background: linear-gradient(90deg, rgb(7, 29, 104) 0%, rgb(11, 75, 236) 10%);

            .header__logo {
                display: flex;
                align-items: flex-end;
                

                .logo__image {
                    margin-right: 15px;
                }


                .logo__text{
                .logo__title {
                    font-size: 18px;
                    font-family: "Poppins";
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    text-align: left;
                    text-shadow: 0px 3px 3px rgba(30, 28, 28, 0.75);
                    margin: 0 auto;
                }

                .logo__description {
                    font-size: 12px;
                    font-family: "Poppins";
                    color: rgb(255, 255, 255);
                    margin: 0 auto;

                }
            }
            }
        }

        .navigation__list {
            display: flex;
            color: rgb(255, 255, 255);


            .navigation__link {
                text-decoration: none;
                margin-left: 44px;
                color: rgb(255, 255, 255);
                font-size: 14px;
                font-family: "Poppins";

                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.857;
                text-align: right;

            }

        }

        .header__button {
            border-radius: 12px;
            background-color: rgb(255, 255, 255);
            width: 125px;
            height: 30px;
            font-size: 14px;
            font-family: "Poppins";
            color: rgb(11, 75, 236);
            font-weight: bold;
            line-height: 2;
            margin-left: 38px;



        }

    }
}